---
import Navbar from '@/components/common/Navbar.astro';
import Particles from '@/components/common/Particles.astro';
import Footer from '@/components/common/Footer.astro';
import ScrollToTop from '@/components/common/ScrollToTop.astro';
import '@/assets/styles/scrolltotop.css';

const { meta } = Astro.props;

const defaultMeta = {
  title: meta.title,
  description: meta.description,
  image: meta.image,
  url: meta.url || Astro.url.href,
  siteName: meta.siteName,
  type: 'website',
  author: '',
  keywords: '',
};
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{defaultMeta.title}</title>
    <meta name="description" content={defaultMeta.description} />
    <meta name="author" content={defaultMeta.author} />
    <meta name="keywords" content={defaultMeta.keywords} />
    <meta name="robots" content="index, follow" />
    <meta name="image" content={defaultMeta.image} />
    <link rel="canonical" href={defaultMeta.url} />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/PR.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />

    <!-- Fonts and Styles -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
  </head>
  <body>
    <Particles />
    <Navbar />

    <main>
      <slot />
    </main>

    <Footer />
    <ScrollToTop />

    <script src="/scripts/particles.js" type="module"></script>
  </body>
</html>
